.bill-card {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  box-sizing: border-box;
  width: 500px;
  padding: 10px;
  .bill-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }

  .customer-container {
    margin-top: 20px;
    .heading-container {
      display: flex;
      justify-content: space-between;
      .customer-heading {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
      }
      .delete-img {
        background-color: #eb5757;
      }
    }

    .input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      height: 48px;
      margin-top: 20px;
      margin-bottom: 10px;
      .input-field {
        border: none;
        outline: none;
      }
      .hr-line1 {
        width: 0px;
        height: 32px;
        border: 1px solid #e0e0e0;
        margin-left: 20px;
        margin-right: 20px;
      }
      .search-container {
        display: flex;
      }
    }

    .option-container {
      display: flex;
      justify-content: space-between;
      .item {
        width: 48%;
        padding: 12px 16px;
        height: 48px;
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        color: #636363;
      }
    }
  }
  .button-container {
    display: flex;
    .save-button {
      background-color: blue;
      color: #ffffff;
      margin-left: 10px;
    }
  }
}
